@import "tailwindcss";

body {
  @apply bg-zinc-950 text-zinc-100;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide number input arrows */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield; 
}

/* Hide scrollbar but allow scroll */
.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

